.container
	.row
		.span6
			:markdown
				#### Автоматизация торговли

				Мы предлагаем доступный, гибкий и эффективный подход к автоматизации розничной торговли, который позволит Вам успешно конкурировать на рынке и получать экономического эффект.

		.span6
			%br/
			.btn-group
				%a.btn.btn-success{:href => "#download"}
					Скачать
				%a.btn.btn-primary{:href => "#buy"}
					Купить
	%br/
	.row
		.span4
			.well.well-small
				:markdown
					##### Возможности Менеджера:

					**-** Точное отображение текущих остатков

					**-** Классификация товаров по группам

					**-** Проведение ревизии без остановки торговли

					**-** Электронные накладные

					**-** Построение любых печатных форм для док-ов и отчетов

					**-** Напоминания о товарах, которые необходимо заказать

					**-** АВС-анализ

					**-** Статистика продаж

					**-** Резервное копирование базы данных и отказоустойчивость

		.span4
			.well.well-small
				:markdown
					##### Возможности Кассира:

					**-** Поиск товара по наименованию, описанию и штрих-коду в одном поле

					**-** Возможность делать отложенные чеки

					**-** Комбинирование различных средств платежа в одном чеке

					**-** Учет кредитов, отслеживание остатков по непогашенным кредитам

					**-** Поддержка различных видов скидок

					**-** Формирование X,Z - отчета

					**-** Поддержка различного торгового оборудования

					**-** Программе можно обучить за 2 часа.
				%br/

		.span4
			.well.well-small
				:markdown
					##### Возможности Руководителя:

					Руководитель или менеджер офиса в одной программе, с простым и удобным интерфейсом, в он-лайн режиме, имеет возможность получать все интересующие данные по работе торговых точек, как в отдельности, так и в сводном режиме:
					
					**-** по ассортименту
					
					**-** по продажам
					
					**-** по расходам
					
					**-** по доходу предприятия
				%br/
				%br/
				%br/
				%br/

	.row
		.span6
			:markdown
				#### Готовые решения

				Мы предлагаем Вашему вниманию готовые конфигурации наших программ для различных сфер бизнеса.

	%br/
	.row
		.span9
			.well.well-small
				:markdown
					#### Непродовольственная сфера
				%ul.thumbnails
					%li.span3
						.thumbnail
							:markdown
								##### Одежда и обувь
								
								**-** нюанс №1
							%a.btn.btn-success.btn-small{:href => "#"}
								%i.icon-white.icon-download-alt
								Скачать
					%li.span3
						.thumbnail
							:markdown
								##### Компьютерная техника
								
								**-** нюанс №1
							%a.btn.btn-success.btn-small{:href => "#"}
								%i.icon-white.icon-download-alt
								Скачать
					%li.span3
						.thumbnail
							:markdown
								##### Фармацевтика

								**-** нюанс №1
							%a.btn.btn-success.btn-small{:href => "#"}
								%i.icon-white.icon-download-alt
								Скачать
					%li.span3
						.thumbnail
							:markdown
								##### Бытовая химия

								**-** нюанс №1
							%a.btn.btn-success.btn-small{:href => "#"}
								%i.icon-white.icon-download-alt
								Скачать
		.span3
			.well.well-small
				:markdown
					#### Сфера продуктов питания
				.row
					.span3
						%ul.thumbnails
							%li.span3
								.thumbnail
									:markdown
										##### Продовольственный магазин
										
										**-** нюанс №1
									%a.btn.btn-success.btn-small{:href => "#"}
										%i.icon-white.icon-download-alt
										Скачать
							%li.span3
								.thumbnail
									:markdown
										##### Мини-маркет
										
										**-** нюанс №1
									%a.btn.btn-success.btn-small{:href => "#"}
										%i.icon-white.icon-download-alt
										Скачать

								.thumbnail
									:markdown
										##### Супер-маркет

										**-** нюанс №1
									%a.btn.btn-success.btn-small{:href => "#"}
										%i.icon-white.icon-download-alt
										Скачать



