.container
	.row
		
		%h2 Готовые решения по автоматизации торговли
		
		%ul.thumbnails

			%li.span4
				.thumbnail
					%h4 Одежда и Обувь
					%img{:src => "sn-project/img/ready/automation_odegda.png", :alt => ""}
					%p
						%a.btn.btn-medium.btn-primary{:href => "#odegda"} Подробнее
						%a.btn.btn-medium{:href => "#odegda"} Примеры

			%li.span4
				.thumbnail
					%h5 Косметика и парфюмерия
					%img{:src => "sn-project/img/ready/automation_parfum.png", :alt => ""}
					%p
						%a.btn.btn-medium.btn-primary{:href => "#odegda"} Подробнее
						%a.btn.btn-medium{:href => "#odegda"} Особенности

			%li.span4
				.thumbnail
					%h4 Продкуты питания
					%img{:src => "sn-project/img/ready/automation_produkty.png", :alt => ""}
					%p
						%a.btn.btn-medium.btn-primary{:href => "#odegda"} Подробнее
						%a.btn.btn-medium{:href => "#odegda"} Отличия
