	
#slide-wellcome.container-fluid.hidden-phone
	.container
		.row
			.span12
				/
					.hero-unit
						.row
							.span12
								%h1 Автоматизация и документооборот
						.row
							.span12
								%p
									%a.btn.btn-large Узнать подробнее
									%a.btn.btn-success.btn-large Скачать
									%a.btn.btn-primary.btn-large Купить
