.container
	.row
		.span6
			.well 
				:markdown
					#### Система автоматизации

					Представляем Вашему вниманию систему автоматизации розничной торговли Стандарт-Н. 
					
					Мы осуществляем полный цикл автоматизации магазинов, торговых сетей, супермаркетов, розничных точек: закупка торгового и компьютерного оборудования, проводка сети интернет, установка программ, обучение персонала и осуществление технической поддержки. 
					
					У нас есть собственное качественное программное обеспечение, которое позволит Вам эффективно управлять Вашим бизнесом и добиваться новых успехов!

					Мы работаем по всей России! 
		.span6
			:plain
				<iframe style="background:#fff;" width="420" height="315" src="http://www.youtube.com/embed/eL6_Wql32qw?rel=0" frameborder="0" allowfullscreen></iframe>
	.row
		.span12
			%ul.thumbnails
				%li.span4
					.thumbnail
						:markdown
							#### Расширение ассортимента товара
							
							Система позволяет поддерживать широкий ассортимент товара у вас на полках без увеличения "мертвых" товарных остатков. 

							Программа подсказывает какой товар необходимо заказать (с учетом времени доставки), и у какого поставщика и производителя выбрать этот товар

				%li.span4
					.thumbnail
						:markdown
							#### Всегда 100% точные остатки товара

							Вы всегда будете видеть точные остатки товара - это главный принцип наших программ.

							Отображение реальных остатков в программе является принципиальным вопросом в организации розничной торговли.

				%li.span4
					.thumbnail
						:markdown
							#### Эффективная работа персонала

							Снижение временных затрат и избежание лишних ошибок на таких каждодневных операциях, как наценка, приемка и продажа товара.

							Больше времени высвобождается на аналитику и самообучение.

	.row
		.span12
			%ul.thumbnails
				%li.span3
					.thumbnail
						:markdown
							##### Широкий поиск

							В одном поле поиск по наименованию, описанию и штрих-коду.

				%li.span3
					.thumbnail
						:markdown
							##### Fast Report

							Редактирование печатных форм и документов.


				%li.span3
					.thumbnail
						:markdown
							##### HTML, JavaScript, Pascal

							Использование скриптовых языков для настройки программы под любые задачи.

				%li.span3
					.thumbnail
						:markdown
							##### Интерфейс

							Отсутствие лишних всплывающих окон и полей ввода. Автонаполнение справочников. 



							


