
#navbar.navbar.navbar-fixed-top
	.navbar-inner
		.container
			.btn.btn-navbar{:data => {:toggle => "collapse", :target => ".nav-collapse"}}
				.icon-bar
				.icon-bar
				.icon-bar
			.brand{:href =>"#"} Стандарт-Н
			.nav-collapse
				%ul.nav
					%li{:class => "{if ($page=='main')}active{/if}"}
						%a{:href => "/main"} Главная
					%li{:class => "{if ($page=='automation')}active{/if}"}
						%a{:href => "/automation"} Автоматизация
					%li{:class => "{if ($page=='spacepro')}active{/if}"}
						%a{:href => "/spacepro"} Документооборот
